# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

.idea/
.DS_Store
/out
/cmake-build-debug
/cmake-build-release
/.vscode
/build